<li id="post-<%= p._id %>">

    <div class="home-allPost">
        
        <div class="home-allPost-content">
           <div>
               <small> <%= p.user.name %> <br></small>
               <span>
                   <%= p.content %>
               </span>
               
           </div>
           

           <% if(locals.user){%>
               <div class="post-comments">
                   <form action="/comment/create" id="post-comment-form-<%=p._id%>" class="post-comment-form" method="post">
                       <input type="text" name="content" placeholder="Add Comment..." required>
                       <input type="hidden" name="post" value="<%= p._id %>" readonly>
                       <input type="submit" value="Add Comment">
                   </form>
               </div>
               <%}
           %>
           
           <div class="post-comments-list">
               <ul id="post-comments-<%= p._id %>">
                   <% for(cmnt of p.comment) {%>
                       <%- include('./_comment.ejs'); %>
                   <%} %>
   
               </ul>
               
               
           </div>

        </div>

        <% if(locals.user && locals.user.id == p.user.id){%>
           <div class="delete-button">
               <a class="delete-post-button" href="/posts/destroy/?id=<%= p.id %>">Del</a>
           </div>
           <%}
       %>

        

   </div>

</li>
    
    
