<link rel="stylesheet" href="<%= assespath('css/home.css') %>">

<div id="home-container">
    <section id="friends-list">
        <% if(locals.user) {%>
            <h4>Friends</h4>
            <% for (friend of currUser.friendship) {%>
           
                <% if (friend.requestStatus=='Pending') {%>
                    <% if(locals.user.id==friend.from_user.id) {%>
                        <div class="friendlist-response">
                            <span><%= friend.to_user.name %></span>
                            <a href="/friends/destroyrequest/?from_user=<%= friend.from_user.id %>&to_user=<%= friend.to_user.id %>&id=<%= friend.id %>&requestStatus=Declined">Cancel Request</a>
                        </div>
                    <%} else {%>
                        <div class="friendlist-response">
                            <span> <%= friend.from_user.name %></span>
                            <a href="/friends/acceptrequest/?id=<%= friend.id %>&requestStatus=Accepted">Accept</a>
                            <a href="/friends/destroyrequest/?from_user=<%= friend.from_user.id %>&to_user=<%= friend.to_user.id %>&id=<%= friend.id %>&requestStatus=Declined">Remove</a>
                        </div>
                    <%} %>
                <%} else {%>
                    <% if(locals.user.id==friend.from_user.id) {%>
                        <div class="friendlist-response">
                            <span><%= friend.to_user.name %></span>
                            <a href="/friends/destroyrequest/?from_user=<%= friend.from_user.id %>&to_user=<%= friend.to_user.id %>&id=<%= friend.id %>&requestStatus=Declined">Unfriend</a>
                        </div>
                    <%} else {%>
                        <div class="friendlist-response">
                            <span> <%= friend.from_user.name %></span>
                            <a href="/friends/destroyrequest/?from_user=<%= friend.from_user.id %>&to_user=<%= friend.to_user.id %>&id=<%= friend.id %>&requestStatus=Declined">Unfriend</a>
                        </div>
                    <%} %>
                <%} %>
            <%}%>
        <%} else {%>
            <span style="word-wrap: break-word;">Login to see friends</span>
        <%} %>
    </section>

    <section id="home-posts-container">
        <% if(locals.user){%>
    
            <div id="new-post">
                
                <form action="/posts/create" id="create-post" method="post">
                    <textarea name="content" id="post-content" cols="30" rows="3" placeholder="What's on your Mind, <%= locals.user.name %>?" required></textarea>
                    <input type="submit"  value="Add Post">
                </form>

            </div>
        
            <%}
        %>
        
        
        <div id="all-post">
            
            <ul id="all-post-container">
                <% for (p of post) {%>
                    
                        <%- include('_post'); %>
                    
                <%}
                %>
            </ul>
            
        </div>
    </section>
    
    <section id="home-friends-container">
        
        
        <h4>Smart Connect User</h4>
        <ul>
            <% for (u of  all_users) {%>
                <li>
                    <a href="/users/profile/?id=<%= u.id %>"><%= u.name %></a>
                    
                </li>
            <%} %>
            
        </ul>
    </section>
</div>

<script src="<%= assespath('js/home_script.js') %>"></script>

<!-- toogle the like button -->
<script src="<%= assespath('js/likes_script.js') %>"></script>
<script>
    $('.toogle-like-button').each(function(){
        let toggleLike=new ToggleLike(this);
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>



